<h2> Connexion </h2>
<!-- Ecrire le chemin ou envoyer le form dans le action -->
<form action="/connection" method="post">
    <ul>
        <li>
            <input type="text" id="pseudo" name="pseudo" placeholder="Entrez votre pseudo" required>
        </li>
        <li>
            <input type="password" id="mdp" , name="mdp" placeholder="Entrez votre mot de passe" required>
        </li>
    </ul>
    <button type="submit">Se connecter</button>
</form>
<label for="inscription">Pas de compte ?</label>
<a href="/inscription" id="inscription">S'insrcire</a>