<h2> Connexion </h2>
<!-- Ecrire le chemin ou envoyer le form dans le action -->
<form action="" method="post">
    <ul>
        <li>
            <label for="nom">Entrez votre nom</label>
            <input type="text" id="nom" name="username">
        </li>
        <li>
            <label for="mdp">Entrez votre mot de passe</label>
            <input type="password" id="mdp", name="password">
        </li>
    </ul>
</form>
<label for="inscription">Pas de compte ?</label>
<a href="/inscription" id="inscription">S'insrcire</a>