<h2> Inscription </h2>
<!-- Ecrire le chemin ou envoyer le form dans le action -->
<form action="" method="post">
  <ul>
    <li>
      <input type="text" id="nom" name="nom" placeholder="Entrez votre nom" />
    </li>
    <li>
      <input
        type="text"
        id="prenom"
        ,
        name="prenom"
        placeholder="Entrez votre prénom"
      />
    </li>
    <li>
      <input
        type="text"
        id="mail"
        ,
        name="mail"
        placeholder="Entrez votre email"
      />
    </li>
    <li>
      <input
        type="password"
        id="mdp"
        ,
        name="password"
        placeholder="Entrez votre mot de passe"
      />
    </li>
  </ul>
</form>

<label for="connection">Déjà un compte ?</label>
<a href="/connection" id="connection">Se connecter</a>