<h2> Inscription </h2>
<!-- Formulaire avec action pointant vers /inscription pour envoyer en POST -->
<form action="/inscription" method="post">
  <ul>
    <li>
      <input type="text" id="pseudo" name="pseudo" placeholder="Entrez votre pseudo" required />
    </li>
    <li>
      <input type="text" id="nom" name="nom" placeholder="Entrez votre nom" required />
    </li>
    <li>
      <input type="text" id="prenom" name="prenom" placeholder="Entrez votre prénom" required />
    </li>
    <li>
      <input type="email" id="mail" name="mail" placeholder="Entrez votre email" required />
    </li>
    <li>
      <input type="password" id="mdp" name="mdp" placeholder="Entrez votre mot de passe" required />
    </li>
  </ul>
  <button type="submit">S'inscrire</button>
</form>

<label for="connection">Déjà un compte ?</label>
<a href="/connection" id="connection">Se connecter</a>