<h2> Connexion </h2>
<!-- Ecrire le chemin ou envoyer le form dans le action -->
<form action="" method="post">
    <ul>
        <li>
            <label for="nom">Entrez votre nom</label>
            <input type="text" id="nom" name="username">
        </li>
    </ul>
</form>